extends ../layout/index
block content
  .container.mt-5.tam-max
    .row
      form
        h1.h2.mb-4
          | Create a new nation 
          a.btn.btn-sm.btn-outline-info(href='/user', role='button') Back
        .form-group
          label.text-muted(for='inputName') Name of the nation:
          input#inputName.form-control(type='text', required='')
        .form-group
          label.text-muted(for='inputLocation') Location of the nation:
          input#inputLocation.form-control(type='text', required='')
        .form-group
          label.text-muted(for='inputMapImage') Link to the map-image of the nation:
          input#inputMapImage.form-control(type='text', required='')
        .form-group
          label.text-muted(for='inputCapital') Capital of the nation:
          input#inputCapital.form-control(type='text', required='')
        .form-group
          label.text-muted(for='inputHeadState') Head of state of the nation:
          input#inputHeadState.form-control(type='text', required='')
        .form-group
          label.text-muted(for='inputCurrency') Currency of the nation:
          input#inputCurrency.form-control(type='text', required='')
        .form-group
          label.text-muted(for='inputDescription') Description of the nation:
          textarea#inputDescription.form-control(rows='4')
        .form-group
          label.text-muted(for='inputImage') Link to the image of the nation:
          input#inputImage.form-control(type='text', required='')

        button.mt-4.btn.btn-outline-info.btn-block(type='submit') Create
        p.mt-5.mb-3.text-muted © Daniel Celis Tobon - 2020
