footer.text-center(class=clase2)
  br
  .social
    p.redes
      a(href='https://danicelistobon.github.io/', target='_blank', rel='noopener noreferrer')
        i.fas.fa-globe
    p.redes
      a(href='https://github.com/danicelistobon', target='_blank', rel='noopener noreferrer')
        i.fab.fa-github
    p.redes
      a(href='https://twitter.com/danicelistobon', target='_blank', rel='noopener noreferrer')
        i.fab.fa-twitter
    p.redes
      a(href='https://www.linkedin.com/in/danicelistobon/', target='_blank', rel='noopener noreferrer')
        i.fab.fa-linkedin
  |     © Daniel Celis Tobon - 2020
  br
  br
