header
  .navigation
    .container
      .row.justify-content-center.justify-content-md-between.align-items-center.py-4
        .col-6.col-md-2
          a(href='/')
            img.img-fluid(src='/images/logo.png', alt='Logo Avatar')
        .col-6.col-md-10
          nav.nav.justify-content-end.justify-content-md-end
            a.nav-link(href='/', class=(ruta === '/' ? 'active' : '')) Home
            a.nav-link(href='/about', class=(ruta === '/about' ? 'active' : '')) About
            a.nav-link(href='/docs', class=(ruta === '/docs' ? 'active' : '')) Documentation
