extends ../layout/index
block content
  .container.mt-5.tam-max
    .row.justify-content-center
      h1.text-center.h2.mb-4 #{user.name}
      a.btn.btn-outline-info.btn-block(href='/new-image', role='button') New image
      a.btn.btn-outline-info.btn-block(href='/api/bendings/new', role='button') New bending
      a.btn.btn-outline-info.btn-block(href='/api/characters/new', role='button') New character
      a.btn.btn-outline-info.btn-block(href='/api/nations/new', role='button') New nation
      a.btn.btn-outline-info.btn-block(href='/api/pets/new', role='button') New pet
      a.btn.btn-outline-info.btn-block(href='/api/places/new', role='button') New place
      a.btn.btn-outline-info.btn-block(href='/api/spirits/new', role='button') New spirit
      a.btn.btn-outline-info.btn-block(href='/user/sign-out', role='button') Sign out
      p.mt-5.mb-3.text-muted © Daniel Celis Tobon - 2020
