extends ../layout/index
block content
  .container.mt-5.tam-max
    .row.justify-content-center
      h1.text-center.h2.mb-4 Username
      a.btn.btn-lg.btn-outline-info.btn-block(href='/new/image', role='button') New image
      a.btn.btn-lg.btn-outline-info.btn-block(href='#', role='button') New bending
      a.btn.btn-lg.btn-outline-info.btn-block(href='#', role='button') New character
      a.btn.btn-lg.btn-outline-info.btn-block(href='#', role='button') New nation
      a.btn.btn-lg.btn-outline-info.btn-block(href='#', role='button') New place
      a.btn.btn-lg.btn-outline-info.btn-block(href='/', role='button') Sign out
      p.mt-5.mb-3.text-muted © Daniel Celis Tobon - 2020
