extends ../layout/index
block slider
  .slider
    .overlay
      em.text-center Avatar API
      br
block content
  main
    section.container
      .row.justify-content-center.justify-content-md-between.align-items-center.py-4
        .col-md-6
          img.img-fluid(src='./images/aang_gif.gif', alt='Aang gif')
          br
          br
        .col-md-6
          h1.text-center Avatar API
          h5.texto-regular.text-center
            | All the Avatar data you will need in one place, easily accessible through a modern RESTful API.
          br
          h5.texto-regular.text-center
            a.link(href='/docs') Check out the documentation
    section.container.mt-4
      h2.text-center.mb-4 Main Characters
      .row
        .col-lg-2.col-md-3.mb-4
          .card
            img.img-fluid(src='./images/aang.png', alt='Aang')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Aang
        .col-lg-2.col-md-3.mb-4
          .card
            img.img-fluid(src='./images/katara.png', alt='Katara')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Katara
        .col-lg-2.col-md-3.mb-4
          .card
            img.img-fluid(src='./images/sokka.png', alt='Sokka')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Sokka
        .col-lg-2.col-md-3.mb-4
          .card
            img.img-fluid(src='./images/toph.png', alt='Toph')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Toph
        .col-lg-2.col-md-3.mb-4
          .card
            img.img-fluid(src='./images/zuko.png', alt='Zuko')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Zuko
        .col-lg-2.col-md-3.mb-4
          .card
            img.img-fluid(src='./images/iroh.png', alt='Iroh')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Iroh
    section.container.mt-2
      h2.text-center.mb-4 Nations
      .row
        .col-md-3.mb-4
          .card
            img.img-fluid(src='./images/water.png', alt='Water Tribe')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Water Tribe
        .col-md-3.mb-4
          .card
            img.img-fluid(src='./images/earth.png', alt='Earth Kingdom')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Earth Kingdom
        .col-md-3.mb-4
          .card
            img.img-fluid(src='./images/fire.png', alt='Fire Nation')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Fire Nation
        .col-md-3.mb-4
          .card
            img.img-fluid(src='./images/air.png', alt='Air Nomads')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Air Nomads
    section.container.mt-2
      h2.text-center.mb-4 Main Bendings
      .row
        .col-md-3.mb-4
          .card
            img.img-fluid(src='./images/waterbending.png', alt='Waterbending')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Waterbending
        .col-md-3.mb-4
          .card
            img.img-fluid(src='./images/earthbending.png', alt='Earthbending')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Earthbending
        .col-md-3.mb-4
          .card
            img.img-fluid(src='./images/firebending.png', alt='Firebending')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Firebending
        .col-md-3.mb-4
          .card
            img.img-fluid(src='./images/airbending.png', alt='Airbending')
            .card-body
              h6.texto-regular.text-center
                a.link(href='/api', target='_blank', rel='noopener noreferrer') Airbending
  br
